<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml-beginner-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

**Basic Syntax**

In [ ]:
if True:
  print("correct indentation - ")
  if False:
    print("correct indentation")
  print("this will print")
print("this will also print")

correct indentation -
this will print
this will also print

**Variables**

In [ ]:
a = 100
print(a)

age = 30
height = 5.1
is_student = True
print(age, height, is_student)
print("age", age)
print("height", height)
print("is_student", is_student)

100
30 5.1 True
age 30
height 5.1
is_student True

**Naming convention**

In [ ]:
#valid variable names
first_name = "rakesh"
last_name = "pandyala"

#invalid variable names
first-name = "rakesh"
@name = "rakesh"

In [ ]:
#case sensitive
First_name = "rakesh"
FIRST_NAME = "pandyala"

First_name == FIRST_NAME

False

**understanding variable types**

In [ ]:
#python is dynamically typed
#type of a variable is determined at run time

age = 25 #int
height = 5.1 #float
name = "rakesh" #str
is_student = True #bool

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Type conversion**

In [ ]:
age = 25
print(type(age))
to_str = str(age)
print(type(to_str))

age = "25"
to_int = int(age)
print(type(to_int))

<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
name = "rakesh"
to_int = int(name)
print(to_int)

ValueError: invalid literal for int() with base 10: 'rakesh'

In [ ]:
height = 5.6
to_int = int(height)
print(to_int)
to_float = float(int(height))
print(to_float)

5
5.0

**Dynamic Typing**