<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml_beginner_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q pandasql

In [ ]:
import pandas as pd
import pandasql as psql
import sqlite3

In [ ]:
# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Load the DataFrame into the SQLite database as a table
df.to_sql('characters', conn, index=False, if_exists='replace')

15

In [ ]:
query = """
SELECT * FROM characters
"""
result_df = pd.read_sql_query(query, conn)
print(result_df)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50         1
1    2    Legolas    Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli      Erebor  Warrior     20        6000  130.25         1
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50         0
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50         1
5    6    Gandalf      Istari     Mage     30       10000   90.00         1
6    7    Boromir      Gondor  Warrior     18        5500  115.50         0
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50         1
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50         1
9   10     Sauron  Dark Lords     Mage     40       15000   85.00         0
10  11    Saruman      Istari     Mage     28        8500   88.50         0
11  12     Elrond   Rivendell     Mage     27        8200   87.50         1
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00         1
13  14      Eowyn       Rohan  Warrior     17        5200  112.50         1
14  15    Faramir      Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [ ]:
query = """ SELECT * FROM characters LIMIT 100 """
result_df = pd.read_sql_query(query, conn)
print(result_df)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50         1
1    2    Legolas    Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli      Erebor  Warrior     20        6000  130.25         1
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50         0
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50         1
5    6    Gandalf      Istari     Mage     30       10000   90.00         1
6    7    Boromir      Gondor  Warrior     18        5500  115.50         0
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50         1
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50         1
9   10     Sauron  Dark Lords     Mage     40       15000   85.00         0
10  11    Saruman      Istari     Mage     28        8500   88.50         0
11  12     Elrond   Rivendell     Mage     27        8200   87.50         1
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00         1
13  14      Eowyn       Rohan  Warrior     17        5200  112.50         1
14  15    Faramir      Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [ ]:
query = """
SELECT class, AVG(level) AS avg_level
FROM characters
WHERE is_alive = True  -- In pandasql, TRUE is represented by 1 and FALSE by 0
GROUP BY class
HAVING AVG(level) > 22
ORDER BY avg_level DESC
LIMIT 5;
"""

result_df = pd.read_sql_query(query, conn)
print(result_df)

    class  avg_level
0    Mage  28.500000
1  Archer  22.333333

In [ ]:
#aliasing
query = """

SELECT name, guild, level as character_level
FROM characters

"""

result_df = pd.read_sql_query(query, conn)
print(result_df)

         name       guild  character_level
0     Aragorn     Rangers               25
1     Legolas    Mirkwood               22
2       Gimli      Erebor               20
3       Frodo   Shirefolk               12
4         Sam   Shirefolk               13
5     Gandalf      Istari               30
6     Boromir      Gondor               18
7       Merry   Shirefolk               11
8      Pippin   Shirefolk               11
9      Sauron  Dark Lords               40
10    Saruman      Istari               28
11     Elrond   Rivendell               27
12  Thranduil    Mirkwood               26
13      Eowyn       Rohan               17
14    Faramir      Gondor               19

In [ ]:
#constants
query = """

SELECT name, guild, level as character_level, 1 as version
FROM characters

"""

result_df = pd.read_sql_query(query, conn)
print(result_df)

         name       guild  character_level  version
0     Aragorn     Rangers               25        1
1     Legolas    Mirkwood               22        1
2       Gimli      Erebor               20        1
3       Frodo   Shirefolk               12        1
4         Sam   Shirefolk               13        1
5     Gandalf      Istari               30        1
6     Boromir      Gondor               18        1
7       Merry   Shirefolk               11        1
8      Pippin   Shirefolk               11        1
9      Sauron  Dark Lords               40        1
10    Saruman      Istari               28        1
11     Elrond   Rivendell               27        1
12  Thranduil    Mirkwood               26        1
13      Eowyn       Rohan               17        1
14    Faramir      Gondor               19        1

In [ ]:
#calculations
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100
FROM characters

"""

result_df = pd.read_sql_query(query, conn)
print(result_df)

         name       guild  character_level  version  experience  \
0     Aragorn     Rangers               25        1        9000
1     Legolas    Mirkwood               22        1        7500
2       Gimli      Erebor               20        1        6000
3       Frodo   Shirefolk               12        1        2500
4         Sam   Shirefolk               13        1        2750
5     Gandalf      Istari               30        1       10000
6     Boromir      Gondor               18        1        5500
7       Merry   Shirefolk               11        1        2200
8      Pippin   Shirefolk               11        1        2100
9      Sauron  Dark Lords               40        1       15000
10    Saruman      Istari               28        1        8500
11     Elrond   Rivendell               27        1        8200
12  Thranduil    Mirkwood               26        1        7900
13      Eowyn       Rohan               17        1        5200
14    Faramir      Gondor               19        1        5700

    experience / 100
0                 90
1                 75
2                 60
3                 25
4                 27
5                100
6                 55
7                 22
8                 21
9                150
10                85
11                82
12                79
13                52
14                57

In [ ]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM characters

"""  # Removed the period after version

result_df = pd.read_sql_query(query, conn)
print(result_df)

DatabaseError: Execution failed on sql '

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM characters

': no such column: character_level

**Hypothesis**
The error message "OperationalError: no such column: character_level" indicates that you're trying to use the alias 'character_level' in a calculation within the same SELECT statement where it's defined. SQL generally processes these statements in a linear fashion, so the alias isn't recognized when you try to use it later in the calculation.

In [ ]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) +2
FROM characters

"""  # Removed the period after version

result_df = pd.read_sql_query(query, conn)
print(result_df)

         name       guild  character_level  version  experience  \
0     Aragorn     Rangers               25        1        9000
1     Legolas    Mirkwood               22        1        7500
2       Gimli      Erebor               20        1        6000
3       Frodo   Shirefolk               12        1        2500
4         Sam   Shirefolk               13        1        2750
5     Gandalf      Istari               30        1       10000
6     Boromir      Gondor               18        1        5500
7       Merry   Shirefolk               11        1        2200
8      Pippin   Shirefolk               11        1        2100
9      Sauron  Dark Lords               40        1       15000
10    Saruman      Istari               28        1        8500
11     Elrond   Rivendell               27        1        8200
12  Thranduil    Mirkwood               26        1        7900
13      Eowyn       Rohan               17        1        5200
14    Faramir      Gondor               19        1        5700

    experience / 100  experience + (100 / level) +2
0                 90                           9006
1                 75                           7506
2                 60                           6007
3                 25                           2510
4                 27                           2759
5                100                          10005
6                 55                           5507
7                 22                           2211
8                 21                           2111
9                150                          15004
10                85                           8505
11                82                           8205
12                79                           7905
13                52                           5207
14                57                           5707

In [ ]:
#functions
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) + 2,
SQRT(16), SQRT(level),
UPPER(guild)
FROM characters

"""

result_df = pd.read_sql_query(query, conn)
print(result_df)

In [ ]:
create_table = """
CREATE TABLE IF NOT EXISTS characters_alive AS
SELECT *
FROM characters
WHERE is_alive = True
"""
conn.execute(create_table)

get_table = """
SELECT * FROM characters_alive
"""
result_df = pd.read_sql_query(get_table, conn)
print(result_df)
result_df.to_csv('characters_alive.csv', index=False)
print("CSV file created: characters_alive.csv")

    id       name      guild    class  level  experience  health  is_alive  \
0    1    Aragorn    Rangers  Warrior     25        9000  120.50         1
1    2    Legolas   Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli     Erebor  Warrior     20        6000  130.25         1
3    5        Sam  Shirefolk   Hobbit     13        2750   52.50         1
4    6    Gandalf     Istari     Mage     30       10000   90.00         1
5    8      Merry  Shirefolk   Hobbit     11        2200   48.50         1
6    9     Pippin  Shirefolk   Hobbit     11        2100   47.50         1
7   12     Elrond  Rivendell     Mage     27        8200   87.50         1
8   13  Thranduil   Mirkwood   Archer     26        7900   97.00         1
9   14      Eowyn      Rohan  Warrior     17        5200  112.50         1
10  15    Faramir     Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:05:00 UTC        1.0
4   2023-09-20 11:00:00 UTC        NaN
5   2023-09-22 10:00:00 UTC        4.0
6   2023-09-22 10:01:00 UTC        4.0
7   2023-09-21 04:00:00 UTC        6.0
8   2023-09-22 02:00:00 UTC        2.0
9   2023-09-23 05:00:00 UTC        7.0
10  2023-09-20 06:00:00 UTC        7.0
CSV file created: characters_alive.csv

In [ ]:
create_table = """
CREATE TABLE IF NOT EXISTS characters_dead AS
SELECT * FROM characters
WHERE is_alive = False

"""
conn.execute(create_table)

get_table = """
SELECT * FROM characters_dead
"""
result_df = pd.read_sql_query(get_table, conn)
print(result_df)
result_df.to_csv('characters_dead.csv', index=False)
print("CSV file created: characters_dead.csv")

   id     name       guild    class  level  experience  health  is_alive  \
0   4    Frodo   Shirefolk   Hobbit     12        2500    50.5         0
1   7  Boromir      Gondor  Warrior     18        5500   115.5         0
2  10   Sauron  Dark Lords     Mage     40       15000    85.0         0
3  11  Saruman      Istari     Mage     28        8500    88.5         0

               last_active  mentor_id
0  2023-09-23 10:00:00 UTC        1.0
1  2023-09-21 12:00:00 UTC        NaN
2  2023-09-23 01:00:00 UTC        NaN
3  2023-09-20 03:00:00 UTC        6.0
CSV file created: characters_dead.csv

In [150]:
get_tables = """
SELECT * FROM characters_alive
SELECT * FROM characters_dead
"""
result_df = pd.read_sql_query(get_tables, conn)
print(result_df)
#

DatabaseError: Execution failed on sql '
SELECT * FROM characters_alive
SELECT * FROM characters_dead
': near "SELECT": syntax error

In [154]:
get_tables = """
SELECT * FROM characters_alive
UNION
SELECT * FROM characters_dead
"""
result_df = pd.read_sql_query(get_tables,conn)
print(result_df)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50         1
1    2    Legolas    Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli      Erebor  Warrior     20        6000  130.25         1
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50         0
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50         1
5    6    Gandalf      Istari     Mage     30       10000   90.00         1
6    7    Boromir      Gondor  Warrior     18        5500  115.50         0
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50         1
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50         1
9   10     Sauron  Dark Lords     Mage     40       15000   85.00         0
10  11    Saruman      Istari     Mage     28        8500   88.50         0
11  12     Elrond   Rivendell     Mage     27        8200   87.50         1
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00         1
13  14      Eowyn       Rohan  Warrior     17        5200  112.50         1
14  15    Faramir      Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0