<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml_beginner_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install -q pandasql

  Preparing metadata (setup.py) ... done
  Building wheel for pandasql (setup.py) ... done

In [3]:
import pandas as pd
import pandasql as psql

In [4]:
df = pd.read_csv('/content/characters.csv')

print(df)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50      True
1    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
2    3      Gimli      Erebor  Warrior     20        6000  130.25      True
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
5    6    Gandalf      Istari     Mage     30       10000   90.00      True
6    7    Boromir      Gondor  Warrior     18        5500  115.50     False
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
9   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
10  11    Saruman      Istari     Mage     28        8500   88.50     False
11  12     Elrond   Rivendell     Mage     27        8200   87.50      True
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
13  14      Eowyn       Rohan  Warrior     17        5200  112.50      True
14  15    Faramir      Gondor   Archer     19        5700  118.50      True

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [5]:
query = """ SELECT * FROM df LIMIT 100 """
result = psql.sqldf(query, locals())
print(result)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50         1
1    2    Legolas    Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli      Erebor  Warrior     20        6000  130.25         1
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50         0
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50         1
5    6    Gandalf      Istari     Mage     30       10000   90.00         1
6    7    Boromir      Gondor  Warrior     18        5500  115.50         0
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50         1
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50         1
9   10     Sauron  Dark Lords     Mage     40       15000   85.00         0
10  11    Saruman      Istari     Mage     28        8500   88.50         0
11  12     Elrond   Rivendell     Mage     27        8200   87.50         1
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00         1
13  14      Eowyn       Rohan  Warrior     17        5200  112.50         1
14  15    Faramir      Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           15 non-null     int64
 1   name         15 non-null     object
 2   guild        15 non-null     object
 3   class        15 non-null     object
 4   level        15 non-null     int64
 5   experience   15 non-null     int64
 6   health       15 non-null     float64
 7   is_alive     15 non-null     bool
 8   last_active  15 non-null     object
 9   mentor_id    9 non-null      float64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 1.2+ KB
None

In [7]:
query = """
SELECT class, AVG(level) AS avg_level
FROM df
WHERE is_alive = True  -- In pandasql, TRUE is represented by 1 and FALSE by 0
GROUP BY class
HAVING AVG(level) > 22
ORDER BY avg_level DESC
LIMIT 5;
"""

result = psql.sqldf(query, locals())
print(result)

    class  avg_level
0    Mage  28.500000
1  Archer  22.333333

In [9]:
#aliasing
query = """

SELECT name, guild, level as character_level
FROM df

"""

result = psql.sqldf(query, locals())
print(result)

         name       guild  character_level
0     Aragorn     Rangers               25
1     Legolas    Mirkwood               22
2       Gimli      Erebor               20
3       Frodo   Shirefolk               12
4         Sam   Shirefolk               13
5     Gandalf      Istari               30
6     Boromir      Gondor               18
7       Merry   Shirefolk               11
8      Pippin   Shirefolk               11
9      Sauron  Dark Lords               40
10    Saruman      Istari               28
11     Elrond   Rivendell               27
12  Thranduil    Mirkwood               26
13      Eowyn       Rohan               17
14    Faramir      Gondor               19

In [10]:
#constants
query = """

SELECT name, guild, level as character_level, 1 as version
FROM df

"""

result = psql.sqldf(query, locals())
print(result)

         name       guild  character_level  version
0     Aragorn     Rangers               25        1
1     Legolas    Mirkwood               22        1
2       Gimli      Erebor               20        1
3       Frodo   Shirefolk               12        1
4         Sam   Shirefolk               13        1
5     Gandalf      Istari               30        1
6     Boromir      Gondor               18        1
7       Merry   Shirefolk               11        1
8      Pippin   Shirefolk               11        1
9      Sauron  Dark Lords               40        1
10    Saruman      Istari               28        1
11     Elrond   Rivendell               27        1
12  Thranduil    Mirkwood               26        1
13      Eowyn       Rohan               17        1
14    Faramir      Gondor               19        1

In [15]:
#calculations
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100
FROM df

"""

result = psql.sqldf(query, locals())
print(result)

         name       guild  character_level  version  experience  \
0     Aragorn     Rangers               25        1        9000
1     Legolas    Mirkwood               22        1        7500
2       Gimli      Erebor               20        1        6000
3       Frodo   Shirefolk               12        1        2500
4         Sam   Shirefolk               13        1        2750
5     Gandalf      Istari               30        1       10000
6     Boromir      Gondor               18        1        5500
7       Merry   Shirefolk               11        1        2200
8      Pippin   Shirefolk               11        1        2100
9      Sauron  Dark Lords               40        1       15000
10    Saruman      Istari               28        1        8500
11     Elrond   Rivendell               27        1        8200
12  Thranduil    Mirkwood               26        1        7900
13      Eowyn       Rohan               17        1        5200
14    Faramir      Gondor               19        1        5700

    experience / 100
0                 90
1                 75
2                 60
3                 25
4                 27
5                100
6                 55
7                 22
8                 21
9                150
10                85
11                82
12                79
13                52
14                57

In [18]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM df

"""  # Removed the period after version

result = psql.sqldf(query, locals())
print(result)

PandaSQLException: (sqlite3.OperationalError) no such column: character_level
[SQL:

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM df

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Hypothesis**
The error message "OperationalError: no such column: character_level" indicates that you're trying to use the alias 'character_level' in a calculation within the same SELECT statement where it's defined. SQL generally processes these statements in a linear fashion, so the alias isn't recognized when you try to use it later in the calculation.

In [30]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) +2
FROM df

"""  # Removed the period after version

result = psql.sqldf(query, locals())
print(result)

         name       guild  character_level  version  experience  \
0     Aragorn     Rangers               25        1        9000
1     Legolas    Mirkwood               22        1        7500
2       Gimli      Erebor               20        1        6000
3       Frodo   Shirefolk               12        1        2500
4         Sam   Shirefolk               13        1        2750
5     Gandalf      Istari               30        1       10000
6     Boromir      Gondor               18        1        5500
7       Merry   Shirefolk               11        1        2200
8      Pippin   Shirefolk               11        1        2100
9      Sauron  Dark Lords               40        1       15000
10    Saruman      Istari               28        1        8500
11     Elrond   Rivendell               27        1        8200
12  Thranduil    Mirkwood               26        1        7900
13      Eowyn       Rohan               17        1        5200
14    Faramir      Gondor               19        1        5700

    experience / 100  experience + (100 / level) +2
0                 90                           9006
1                 75                           7506
2                 60                           6007
3                 25                           2510
4                 27                           2759
5                100                          10005
6                 55                           5507
7                 22                           2211
8                 21                           2111
9                150                          15004
10                85                           8505
11                82                           8205
12                79                           7905
13                52                           5207
14                57                           5707

In [32]:
#functions
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) + 2,
SQRT(16), SQRT(level),
UPPER(guild)
FROM df

"""

result = psql.sqldf(query, locals())
print(result)

         name       guild  character_level  version  experience  \
0     Aragorn     Rangers               25        1        9000
1     Legolas    Mirkwood               22        1        7500
2       Gimli      Erebor               20        1        6000
3       Frodo   Shirefolk               12        1        2500
4         Sam   Shirefolk               13        1        2750
5     Gandalf      Istari               30        1       10000
6     Boromir      Gondor               18        1        5500
7       Merry   Shirefolk               11        1        2200
8      Pippin   Shirefolk               11        1        2100
9      Sauron  Dark Lords               40        1       15000
10    Saruman      Istari               28        1        8500
11     Elrond   Rivendell               27        1        8200
12  Thranduil    Mirkwood               26        1        7900
13      Eowyn       Rohan               17        1        5200
14    Faramir      Gondor               19        1        5700

    experience / 100  experience + (100 / level) + 2  SQRT(16)  SQRT(level)  \
0                 90                            9006       4.0     5.000000
1                 75                            7506       4.0     4.690416
2                 60                            6007       4.0     4.472136
3                 25                            2510       4.0     3.464102
4                 27                            2759       4.0     3.605551
5                100                           10005       4.0     5.477226
6                 55                            5507       4.0     4.242641
7                 22                            2211       4.0     3.316625
8                 21                            2111       4.0     3.316625
9                150                           15004       4.0     6.324555
10                85                            8505       4.0     5.291503
11                82                            8205       4.0     5.196152
12                79                            7905       4.0     5.099020
13                52                            5207       4.0     4.123106
14                57                            5707       4.0     4.358899

   UPPER(guild)
0       RANGERS
1      MIRKWOOD
2        EREBOR
3     SHIREFOLK
4     SHIREFOLK
5        ISTARI
6        GONDOR
7     SHIREFOLK
8     SHIREFOLK
9    DARK LORDS
10       ISTARI
11    RIVENDELL
12     MIRKWOOD
13        ROHAN
14       GONDOR