<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml_beginner_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade google-cloud-bigquery

In [156]:
from google.cloud import bigquery
from google.colab import auth

In [158]:
auth.authenticate_user()

In [159]:
from google.cloud import bigquery

# Set up the BigQuery client
client = bigquery.Client(project='webserver-150902')

In [162]:
query = """
SELECT *
FROM `webserver-150902.fantasy.characters`
LIMIT 10
"""

# Execute the query and store the results in a pandas DataFrame
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

   id       name       guild   class  level  experience  health  is_alive  \
0   6    Gandalf      Istari    Mage     30       10000   90.00      True
1  10     Sauron  Dark Lords    Mage     40       15000   85.00     False
2  11    Saruman      Istari    Mage     28        8500   88.50     False
3  12     Elrond   Rivendell    Mage     27        8200   87.50      True
4   2    Legolas    Mirkwood  Archer     22        7500  100.75      True
5  13  Thranduil    Mirkwood  Archer     26        7900   97.00      True
6  15    Faramir      Gondor  Archer     19        5700  118.50      True
7   4      Frodo   Shirefolk  Hobbit     12        2500   50.50     False
8   5        Sam   Shirefolk  Hobbit     13        2750   52.50      True
9   8      Merry   Shirefolk  Hobbit     11        2200   48.50      True

                last_active  mentor_id
0 2023-09-20 11:00:00+00:00       <NA>
1 2023-09-23 01:00:00+00:00       <NA>
2 2023-09-20 03:00:00+00:00          6
3 2023-09-21 04:00:00+00:00          6
4 2023-09-21 09:00:00+00:00       <NA>
5 2023-09-22 02:00:00+00:00          2
6 2023-09-20 06:00:00+00:00          7
7 2023-09-23 10:00:00+00:00          1
8 2023-09-23 10:05:00+00:00          1
9 2023-09-22 10:00:00+00:00          4

In [163]:
query = """
SELECT * FROM `webserver-150902.fantasy.characters`
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    id       name       guild    class  level  experience  health  is_alive  \
0    6    Gandalf      Istari     Mage     30       10000   90.00      True
1   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
2   11    Saruman      Istari     Mage     28        8500   88.50     False
3   12     Elrond   Rivendell     Mage     27        8200   87.50      True
4    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
5   13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
6   15    Faramir      Gondor   Archer     19        5700  118.50      True
7    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
8    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
9    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
10   9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
11   1    Aragorn     Rangers  Warrior     25        9000  120.50      True
12   3      Gimli      Erebor  Warrior     20        6000  130.25      True
13   7    Boromir      Gondor  Warrior     18        5500  115.50     False
14  14      Eowyn       Rohan  Warrior     17        5200  112.50      True

                 last_active  mentor_id
0  2023-09-20 11:00:00+00:00       <NA>
1  2023-09-23 01:00:00+00:00       <NA>
2  2023-09-20 03:00:00+00:00          6
3  2023-09-21 04:00:00+00:00          6
4  2023-09-21 09:00:00+00:00       <NA>
5  2023-09-22 02:00:00+00:00          2
6  2023-09-20 06:00:00+00:00          7
7  2023-09-23 10:00:00+00:00          1
8  2023-09-23 10:05:00+00:00          1
9  2023-09-22 10:00:00+00:00          4
10 2023-09-22 10:01:00+00:00          4
11 2023-09-20 08:00:00+00:00       <NA>
12 2023-09-22 07:00:00+00:00       <NA>
13 2023-09-21 12:00:00+00:00       <NA>
14 2023-09-23 05:00:00+00:00          7

In [167]:
query = """
SELECT * FROM `webserver-150902.fantasy.characters`
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    id       name       guild    class  level  experience  health  is_alive  \
0    6    Gandalf      Istari     Mage     30       10000   90.00      True
1   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
2   11    Saruman      Istari     Mage     28        8500   88.50     False
3   12     Elrond   Rivendell     Mage     27        8200   87.50      True
4    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
5   13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
6   15    Faramir      Gondor   Archer     19        5700  118.50      True
7    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
8    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
9    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
10   9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
11   1    Aragorn     Rangers  Warrior     25        9000  120.50      True
12   3      Gimli      Erebor  Warrior     20        6000  130.25      True
13   7    Boromir      Gondor  Warrior     18        5500  115.50     False
14  14      Eowyn       Rohan  Warrior     17        5200  112.50      True

                 last_active  mentor_id
0  2023-09-20 11:00:00+00:00       <NA>
1  2023-09-23 01:00:00+00:00       <NA>
2  2023-09-20 03:00:00+00:00          6
3  2023-09-21 04:00:00+00:00          6
4  2023-09-21 09:00:00+00:00       <NA>
5  2023-09-22 02:00:00+00:00          2
6  2023-09-20 06:00:00+00:00          7
7  2023-09-23 10:00:00+00:00          1
8  2023-09-23 10:05:00+00:00          1
9  2023-09-22 10:00:00+00:00          4
10 2023-09-22 10:01:00+00:00          4
11 2023-09-20 08:00:00+00:00       <NA>
12 2023-09-22 07:00:00+00:00       <NA>
13 2023-09-21 12:00:00+00:00       <NA>
14 2023-09-23 05:00:00+00:00          7

In [170]:
query = """
SELECT class, AVG(level) AS avg_level
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = True  -- In pandasql, TRUE is represented by 1 and FALSE by 0
GROUP BY class
HAVING AVG(level) > 22
ORDER BY avg_level DESC
LIMIT 5;
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    class  avg_level
0    Mage  28.500000
1  Archer  22.333333

In [172]:
#aliasing
query = """

SELECT name, guild, level as character_level
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level
0     Gandalf      Istari               30
1      Sauron  Dark Lords               40
2     Saruman      Istari               28
3      Elrond   Rivendell               27
4     Legolas    Mirkwood               22
5   Thranduil    Mirkwood               26
6     Faramir      Gondor               19
7       Frodo   Shirefolk               12
8         Sam   Shirefolk               13
9       Merry   Shirefolk               11
10     Pippin   Shirefolk               11
11    Aragorn     Rangers               25
12      Gimli      Erebor               20
13    Boromir      Gondor               18
14      Eowyn       Rohan               17

In [173]:
#constants
query = """

SELECT name, guild, level as character_level, 1 as version
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version
0     Gandalf      Istari               30        1
1      Sauron  Dark Lords               40        1
2     Saruman      Istari               28        1
3      Elrond   Rivendell               27        1
4     Legolas    Mirkwood               22        1
5   Thranduil    Mirkwood               26        1
6     Faramir      Gondor               19        1
7       Frodo   Shirefolk               12        1
8         Sam   Shirefolk               13        1
9       Merry   Shirefolk               11        1
10     Pippin   Shirefolk               11        1
11    Aragorn     Rangers               25        1
12      Gimli      Erebor               20        1
13    Boromir      Gondor               18        1
14      Eowyn       Rohan               17        1

In [174]:
#calculations
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version  experience    f0_
0     Gandalf      Istari               30        1       10000  100.0
1      Sauron  Dark Lords               40        1       15000  150.0
2     Saruman      Istari               28        1        8500   85.0
3      Elrond   Rivendell               27        1        8200   82.0
4     Legolas    Mirkwood               22        1        7500   75.0
5   Thranduil    Mirkwood               26        1        7900   79.0
6     Faramir      Gondor               19        1        5700   57.0
7       Frodo   Shirefolk               12        1        2500   25.0
8         Sam   Shirefolk               13        1        2750   27.5
9       Merry   Shirefolk               11        1        2200   22.0
10     Pippin   Shirefolk               11        1        2100   21.0
11    Aragorn     Rangers               25        1        9000   90.0
12      Gimli      Erebor               20        1        6000   60.0
13    Boromir      Gondor               18        1        5500   55.0
14      Eowyn       Rohan               17        1        5200   52.0

In [175]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM `webserver-150902.fantasy.characters`

"""  # Removed the period after version

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

BadRequest: 400 Unrecognized name: character_level at [5:20]; reason: invalidQuery, location: query, message: Unrecognized name: character_level at [5:20]

Location: US
Job ID: cfdbe6fe-3db8-4d1f-94fe-da910b7b665d

Hypothesis The error message "OperationalError: no such column: character_level" indicates that you're trying to use the alias 'character_level' in a calculation within the same SELECT statement where it's defined. SQL generally processes these statements in a linear fashion, so the alias isn't recognized when you try to use it later in the calculation.

In [176]:
#functions
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) + 2,
SQRT(16), SQRT(level),
UPPER(guild)
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version  experience    f0_  \
0     Gandalf      Istari               30        1       10000  100.0
1      Sauron  Dark Lords               40        1       15000  150.0
2     Saruman      Istari               28        1        8500   85.0
3      Elrond   Rivendell               27        1        8200   82.0
4     Legolas    Mirkwood               22        1        7500   75.0
5   Thranduil    Mirkwood               26        1        7900   79.0
6     Faramir      Gondor               19        1        5700   57.0
7       Frodo   Shirefolk               12        1        2500   25.0
8         Sam   Shirefolk               13        1        2750   27.5
9       Merry   Shirefolk               11        1        2200   22.0
10     Pippin   Shirefolk               11        1        2100   21.0
11    Aragorn     Rangers               25        1        9000   90.0
12      Gimli      Erebor               20        1        6000   60.0
13    Boromir      Gondor               18        1        5500   55.0
14      Eowyn       Rohan               17        1        5200   52.0

             f1_  f2_       f3_         f4_
0   10005.333333  4.0  5.477226      ISTARI
1   15004.500000  4.0  6.324555  DARK LORDS
2    8505.571429  4.0  5.291503      ISTARI
3    8205.703704  4.0  5.196152   RIVENDELL
4    7506.545455  4.0  4.690416    MIRKWOOD
5    7905.846154  4.0  5.099020    MIRKWOOD
6    5707.263158  4.0  4.358899      GONDOR
7    2510.333333  4.0  3.464102   SHIREFOLK
8    2759.692308  4.0  3.605551   SHIREFOLK
9    2211.090909  4.0  3.316625   SHIREFOLK
10   2111.090909  4.0  3.316625   SHIREFOLK
11   9006.000000  4.0  5.000000     RANGERS
12   6007.000000  4.0  4.472136      EREBOR
13   5507.555556  4.0  4.242641      GONDOR
14   5207.882353  4.0  4.123106       ROHAN

In [178]:
# Create the table and insert data
create_table = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.characters_alive` AS
SELECT *
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = True
"""

# Run the query to create the table
client.query(create_table).result()

# Query the newly created table
get_table = """
SELECT * FROM `webserver-150902.fantasy.characters_alive`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_table).to_dataframe()

# Display the result
print(result_df)

    id       name      guild    class  level  experience  health  is_alive  \
0   12     Elrond  Rivendell     Mage     27        8200   87.50      True
1    6    Gandalf     Istari     Mage     30       10000   90.00      True
2   13  Thranduil   Mirkwood   Archer     26        7900   97.00      True
3    2    Legolas   Mirkwood   Archer     22        7500  100.75      True
4   15    Faramir     Gondor   Archer     19        5700  118.50      True
5    5        Sam  Shirefolk   Hobbit     13        2750   52.50      True
6    8      Merry  Shirefolk   Hobbit     11        2200   48.50      True
7    9     Pippin  Shirefolk   Hobbit     11        2100   47.50      True
8   14      Eowyn      Rohan  Warrior     17        5200  112.50      True
9    1    Aragorn    Rangers  Warrior     25        9000  120.50      True
10   3      Gimli     Erebor  Warrior     20        6000  130.25      True

                 last_active  mentor_id
0  2023-09-21 04:00:00+00:00          6
1  2023-09-20 11:00:00+00:00       <NA>
2  2023-09-22 02:00:00+00:00          2
3  2023-09-21 09:00:00+00:00       <NA>
4  2023-09-20 06:00:00+00:00          7
5  2023-09-23 10:05:00+00:00          1
6  2023-09-22 10:00:00+00:00          4
7  2023-09-22 10:01:00+00:00          4
8  2023-09-23 05:00:00+00:00          7
9  2023-09-20 08:00:00+00:00       <NA>
10 2023-09-22 07:00:00+00:00       <NA>

In [179]:
# Create the table and insert data
create_table = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.characters_dead` AS
SELECT *
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = False
"""

# Run the query to create the table
client.query(create_table).result()

# Query the newly created table
get_table = """
SELECT * FROM `webserver-150902.fantasy.characters_dead`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_table).to_dataframe()

# Display the result
print(result_df)

   id     name       guild    class  level  experience  health  is_alive  \
0  11  Saruman      Istari     Mage     28        8500    88.5     False
1  10   Sauron  Dark Lords     Mage     40       15000    85.0     False
2   4    Frodo   Shirefolk   Hobbit     12        2500    50.5     False
3   7  Boromir      Gondor  Warrior     18        5500   115.5     False

                last_active  mentor_id
0 2023-09-20 03:00:00+00:00          6
1 2023-09-23 01:00:00+00:00       <NA>
2 2023-09-23 10:00:00+00:00          1
3 2023-09-21 12:00:00+00:00       <NA>