<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml_beginner_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!pip install -q pandasql

  Preparing metadata (setup.py) ... done
  Building wheel for pandasql (setup.py) ... done

In [28]:
import pandas as pd
import pandasql as psql

In [41]:
df = pd.read_csv('/content/characters.csv')

print(df)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50      True
1    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
2    3      Gimli      Erebor  Warrior     20        6000  130.25      True
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
5    6    Gandalf      Istari     Mage     30       10000   90.00      True
6    7    Boromir      Gondor  Warrior     18        5500  115.50     False
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
9   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
10  11    Saruman      Istari     Mage     28        8500   88.50     False
11  12     Elrond   Rivendell     Mage     27        8200   87.50      True
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
13  14      Eowyn       Rohan  Warrior     17        5200  112.50      True
14  15    Faramir      Gondor   Archer     19        5700  118.50      True

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [48]:
query = """ SELECT * FROM df LIMIT 100 """
result = psql.sqldf(query, locals())
print(result)

    id       name       guild    class  level  experience  health  is_alive  \
0    1    Aragorn     Rangers  Warrior     25        9000  120.50         1
1    2    Legolas    Mirkwood   Archer     22        7500  100.75         1
2    3      Gimli      Erebor  Warrior     20        6000  130.25         1
3    4      Frodo   Shirefolk   Hobbit     12        2500   50.50         0
4    5        Sam   Shirefolk   Hobbit     13        2750   52.50         1
5    6    Gandalf      Istari     Mage     30       10000   90.00         1
6    7    Boromir      Gondor  Warrior     18        5500  115.50         0
7    8      Merry   Shirefolk   Hobbit     11        2200   48.50         1
8    9     Pippin   Shirefolk   Hobbit     11        2100   47.50         1
9   10     Sauron  Dark Lords     Mage     40       15000   85.00         0
10  11    Saruman      Istari     Mage     28        8500   88.50         0
11  12     Elrond   Rivendell     Mage     27        8200   87.50         1
12  13  Thranduil    Mirkwood   Archer     26        7900   97.00         1
13  14      Eowyn       Rohan  Warrior     17        5200  112.50         1
14  15    Faramir      Gondor   Archer     19        5700  118.50         1

                last_active  mentor_id
0   2023-09-20 08:00:00 UTC        NaN
1   2023-09-21 09:00:00 UTC        NaN
2   2023-09-22 07:00:00 UTC        NaN
3   2023-09-23 10:00:00 UTC        1.0
4   2023-09-23 10:05:00 UTC        1.0
5   2023-09-20 11:00:00 UTC        NaN
6   2023-09-21 12:00:00 UTC        NaN
7   2023-09-22 10:00:00 UTC        4.0
8   2023-09-22 10:01:00 UTC        4.0
9   2023-09-23 01:00:00 UTC        NaN
10  2023-09-20 03:00:00 UTC        6.0
11  2023-09-21 04:00:00 UTC        6.0
12  2023-09-22 02:00:00 UTC        2.0
13  2023-09-23 05:00:00 UTC        7.0
14  2023-09-20 06:00:00 UTC        7.0

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           15 non-null     int64
 1   name         15 non-null     object
 2   guild        15 non-null     object
 3   class        15 non-null     object
 4   level        15 non-null     int64
 5   experience   15 non-null     int64
 6   health       15 non-null     float64
 7   is_alive     15 non-null     bool
 8   last_active  15 non-null     object
 9   mentor_id    9 non-null      float64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 1.2+ KB
None

In [50]:
query = """
SELECT class, AVG(level) AS avg_level
FROM df
WHERE is_alive = True  -- In pandasql, TRUE is represented by 1 and FALSE by 0
GROUP BY class
HAVING AVG(level) > 22
ORDER BY avg_level DESC
LIMIT 5;
"""

result = psql.sqldf(query, locals())
print(result)

    class  avg_level
0    Mage  28.500000
1  Archer  22.333333