<a href="https://colab.research.google.com/github/DevSecOps-Stack/ML-Prerequisites/blob/main/ml_beginner_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.10/dist-packages (3.25.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (2.19.1)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.27.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (24.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.63.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (3.20.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.24.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.64.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.48.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.7.4)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.6.0)

In [2]:
from google.cloud import bigquery
from google.colab import auth

In [3]:
auth.authenticate_user()

In [4]:
from google.cloud import bigquery

# Set up the BigQuery client
client = bigquery.Client(project='webserver-150902')

In [ ]:
query = """
SELECT *
FROM `webserver-150902.fantasy.characters`
LIMIT 10
"""

# Execute the query and store the results in a pandas DataFrame
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

   id       name       guild   class  level  experience  health  is_alive  \
0   6    Gandalf      Istari    Mage     30       10000   90.00      True
1  10     Sauron  Dark Lords    Mage     40       15000   85.00     False
2  11    Saruman      Istari    Mage     28        8500   88.50     False
3  12     Elrond   Rivendell    Mage     27        8200   87.50      True
4   2    Legolas    Mirkwood  Archer     22        7500  100.75      True
5  13  Thranduil    Mirkwood  Archer     26        7900   97.00      True
6  15    Faramir      Gondor  Archer     19        5700  118.50      True
7   4      Frodo   Shirefolk  Hobbit     12        2500   50.50     False
8   5        Sam   Shirefolk  Hobbit     13        2750   52.50      True
9   8      Merry   Shirefolk  Hobbit     11        2200   48.50      True

                last_active  mentor_id
0 2023-09-20 11:00:00+00:00       <NA>
1 2023-09-23 01:00:00+00:00       <NA>
2 2023-09-20 03:00:00+00:00          6
3 2023-09-21 04:00:00+00:00          6
4 2023-09-21 09:00:00+00:00       <NA>
5 2023-09-22 02:00:00+00:00          2
6 2023-09-20 06:00:00+00:00          7
7 2023-09-23 10:00:00+00:00          1
8 2023-09-23 10:05:00+00:00          1
9 2023-09-22 10:00:00+00:00          4

In [ ]:
query = """
SELECT * FROM `webserver-150902.fantasy.characters`
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    id       name       guild    class  level  experience  health  is_alive  \
0    6    Gandalf      Istari     Mage     30       10000   90.00      True
1   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
2   11    Saruman      Istari     Mage     28        8500   88.50     False
3   12     Elrond   Rivendell     Mage     27        8200   87.50      True
4    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
5   13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
6   15    Faramir      Gondor   Archer     19        5700  118.50      True
7    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
8    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
9    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
10   9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
11   1    Aragorn     Rangers  Warrior     25        9000  120.50      True
12   3      Gimli      Erebor  Warrior     20        6000  130.25      True
13   7    Boromir      Gondor  Warrior     18        5500  115.50     False
14  14      Eowyn       Rohan  Warrior     17        5200  112.50      True

                 last_active  mentor_id
0  2023-09-20 11:00:00+00:00       <NA>
1  2023-09-23 01:00:00+00:00       <NA>
2  2023-09-20 03:00:00+00:00          6
3  2023-09-21 04:00:00+00:00          6
4  2023-09-21 09:00:00+00:00       <NA>
5  2023-09-22 02:00:00+00:00          2
6  2023-09-20 06:00:00+00:00          7
7  2023-09-23 10:00:00+00:00          1
8  2023-09-23 10:05:00+00:00          1
9  2023-09-22 10:00:00+00:00          4
10 2023-09-22 10:01:00+00:00          4
11 2023-09-20 08:00:00+00:00       <NA>
12 2023-09-22 07:00:00+00:00       <NA>
13 2023-09-21 12:00:00+00:00       <NA>
14 2023-09-23 05:00:00+00:00          7

In [ ]:
query = """
SELECT * FROM `webserver-150902.fantasy.characters`
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    id       name       guild    class  level  experience  health  is_alive  \
0    6    Gandalf      Istari     Mage     30       10000   90.00      True
1   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
2   11    Saruman      Istari     Mage     28        8500   88.50     False
3   12     Elrond   Rivendell     Mage     27        8200   87.50      True
4    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
5   13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
6   15    Faramir      Gondor   Archer     19        5700  118.50      True
7    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
8    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
9    8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
10   9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
11   1    Aragorn     Rangers  Warrior     25        9000  120.50      True
12   3      Gimli      Erebor  Warrior     20        6000  130.25      True
13   7    Boromir      Gondor  Warrior     18        5500  115.50     False
14  14      Eowyn       Rohan  Warrior     17        5200  112.50      True

                 last_active  mentor_id
0  2023-09-20 11:00:00+00:00       <NA>
1  2023-09-23 01:00:00+00:00       <NA>
2  2023-09-20 03:00:00+00:00          6
3  2023-09-21 04:00:00+00:00          6
4  2023-09-21 09:00:00+00:00       <NA>
5  2023-09-22 02:00:00+00:00          2
6  2023-09-20 06:00:00+00:00          7
7  2023-09-23 10:00:00+00:00          1
8  2023-09-23 10:05:00+00:00          1
9  2023-09-22 10:00:00+00:00          4
10 2023-09-22 10:01:00+00:00          4
11 2023-09-20 08:00:00+00:00       <NA>
12 2023-09-22 07:00:00+00:00       <NA>
13 2023-09-21 12:00:00+00:00       <NA>
14 2023-09-23 05:00:00+00:00          7

In [ ]:
query = """
SELECT class, AVG(level) AS avg_level
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = True  -- In pandasql, TRUE is represented by 1 and FALSE by 0
GROUP BY class
HAVING AVG(level) > 22
ORDER BY avg_level DESC
LIMIT 5;
"""
query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

    class  avg_level
0    Mage  28.500000
1  Archer  22.333333

In [ ]:
#aliasing
query = """

SELECT name, guild, level as character_level
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level
0     Gandalf      Istari               30
1      Sauron  Dark Lords               40
2     Saruman      Istari               28
3      Elrond   Rivendell               27
4     Legolas    Mirkwood               22
5   Thranduil    Mirkwood               26
6     Faramir      Gondor               19
7       Frodo   Shirefolk               12
8         Sam   Shirefolk               13
9       Merry   Shirefolk               11
10     Pippin   Shirefolk               11
11    Aragorn     Rangers               25
12      Gimli      Erebor               20
13    Boromir      Gondor               18
14      Eowyn       Rohan               17

In [ ]:
#constants
query = """

SELECT name, guild, level as character_level, 1 as version
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version
0     Gandalf      Istari               30        1
1      Sauron  Dark Lords               40        1
2     Saruman      Istari               28        1
3      Elrond   Rivendell               27        1
4     Legolas    Mirkwood               22        1
5   Thranduil    Mirkwood               26        1
6     Faramir      Gondor               19        1
7       Frodo   Shirefolk               12        1
8         Sam   Shirefolk               13        1
9       Merry   Shirefolk               11        1
10     Pippin   Shirefolk               11        1
11    Aragorn     Rangers               25        1
12      Gimli      Erebor               20        1
13    Boromir      Gondor               18        1
14      Eowyn       Rohan               17        1

In [ ]:
#calculations
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version  experience    f0_
0     Gandalf      Istari               30        1       10000  100.0
1      Sauron  Dark Lords               40        1       15000  150.0
2     Saruman      Istari               28        1        8500   85.0
3      Elrond   Rivendell               27        1        8200   82.0
4     Legolas    Mirkwood               22        1        7500   75.0
5   Thranduil    Mirkwood               26        1        7900   79.0
6     Faramir      Gondor               19        1        5700   57.0
7       Frodo   Shirefolk               12        1        2500   25.0
8         Sam   Shirefolk               13        1        2750   27.5
9       Merry   Shirefolk               11        1        2200   22.0
10     Pippin   Shirefolk               11        1        2100   21.0
11    Aragorn     Rangers               25        1        9000   90.0
12      Gimli      Erebor               20        1        6000   60.0
13    Boromir      Gondor               18        1        5500   55.0
14      Eowyn       Rohan               17        1        5200   52.0

In [ ]:
#cant calculate with alias as SELECT and alias will be executed at the same time
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + 100 / character_level + 2
FROM `webserver-150902.fantasy.characters`

"""  # Removed the period after version

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

BadRequest: 400 Unrecognized name: character_level at [5:20]; reason: invalidQuery, location: query, message: Unrecognized name: character_level at [5:20]

Location: US
Job ID: cfdbe6fe-3db8-4d1f-94fe-da910b7b665d

Hypothesis The error message "OperationalError: no such column: character_level" indicates that you're trying to use the alias 'character_level' in a calculation within the same SELECT statement where it's defined. SQL generally processes these statements in a linear fashion, so the alias isn't recognized when you try to use it later in the calculation.

In [ ]:
#functions
query = """

SELECT name, guild, level as character_level, 1 as version,
experience, experience / 100,
experience + (100 / level) + 2,
SQRT(16), SQRT(level),
UPPER(guild)
FROM `webserver-150902.fantasy.characters`

"""

query_job = client.query(query)
results = query_job.result().to_dataframe()

# Display the results
print(results)

         name       guild  character_level  version  experience    f0_  \
0     Gandalf      Istari               30        1       10000  100.0
1      Sauron  Dark Lords               40        1       15000  150.0
2     Saruman      Istari               28        1        8500   85.0
3      Elrond   Rivendell               27        1        8200   82.0
4     Legolas    Mirkwood               22        1        7500   75.0
5   Thranduil    Mirkwood               26        1        7900   79.0
6     Faramir      Gondor               19        1        5700   57.0
7       Frodo   Shirefolk               12        1        2500   25.0
8         Sam   Shirefolk               13        1        2750   27.5
9       Merry   Shirefolk               11        1        2200   22.0
10     Pippin   Shirefolk               11        1        2100   21.0
11    Aragorn     Rangers               25        1        9000   90.0
12      Gimli      Erebor               20        1        6000   60.0
13    Boromir      Gondor               18        1        5500   55.0
14      Eowyn       Rohan               17        1        5200   52.0

             f1_  f2_       f3_         f4_
0   10005.333333  4.0  5.477226      ISTARI
1   15004.500000  4.0  6.324555  DARK LORDS
2    8505.571429  4.0  5.291503      ISTARI
3    8205.703704  4.0  5.196152   RIVENDELL
4    7506.545455  4.0  4.690416    MIRKWOOD
5    7905.846154  4.0  5.099020    MIRKWOOD
6    5707.263158  4.0  4.358899      GONDOR
7    2510.333333  4.0  3.464102   SHIREFOLK
8    2759.692308  4.0  3.605551   SHIREFOLK
9    2211.090909  4.0  3.316625   SHIREFOLK
10   2111.090909  4.0  3.316625   SHIREFOLK
11   9006.000000  4.0  5.000000     RANGERS
12   6007.000000  4.0  4.472136      EREBOR
13   5507.555556  4.0  4.242641      GONDOR
14   5207.882353  4.0  4.123106       ROHAN

In [ ]:
# Create the table and insert data
create_table = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.characters_alive` AS
SELECT *
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = True
"""

# Run the query to create the table
client.query(create_table).result()

# Query the newly created table
get_table = """
SELECT * FROM `webserver-150902.fantasy.characters_alive`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_table).to_dataframe()

# Display the result
print(result_df)

    id       name      guild    class  level  experience  health  is_alive  \
0   12     Elrond  Rivendell     Mage     27        8200   87.50      True
1    6    Gandalf     Istari     Mage     30       10000   90.00      True
2   13  Thranduil   Mirkwood   Archer     26        7900   97.00      True
3    2    Legolas   Mirkwood   Archer     22        7500  100.75      True
4   15    Faramir     Gondor   Archer     19        5700  118.50      True
5    5        Sam  Shirefolk   Hobbit     13        2750   52.50      True
6    8      Merry  Shirefolk   Hobbit     11        2200   48.50      True
7    9     Pippin  Shirefolk   Hobbit     11        2100   47.50      True
8   14      Eowyn      Rohan  Warrior     17        5200  112.50      True
9    1    Aragorn    Rangers  Warrior     25        9000  120.50      True
10   3      Gimli     Erebor  Warrior     20        6000  130.25      True

                 last_active  mentor_id
0  2023-09-21 04:00:00+00:00          6
1  2023-09-20 11:00:00+00:00       <NA>
2  2023-09-22 02:00:00+00:00          2
3  2023-09-21 09:00:00+00:00       <NA>
4  2023-09-20 06:00:00+00:00          7
5  2023-09-23 10:05:00+00:00          1
6  2023-09-22 10:00:00+00:00          4
7  2023-09-22 10:01:00+00:00          4
8  2023-09-23 05:00:00+00:00          7
9  2023-09-20 08:00:00+00:00       <NA>
10 2023-09-22 07:00:00+00:00       <NA>

In [ ]:
# Create the table and insert data
create_table = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.characters_dead` AS
SELECT *
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = False
"""

# Run the query to create the table
client.query(create_table).result()

# Query the newly created table
get_table = """
SELECT * FROM `webserver-150902.fantasy.characters_dead`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_table).to_dataframe()

# Display the result
print(result_df)

   id     name       guild    class  level  experience  health  is_alive  \
0  11  Saruman      Istari     Mage     28        8500    88.5     False
1  10   Sauron  Dark Lords     Mage     40       15000    85.0     False
2   4    Frodo   Shirefolk   Hobbit     12        2500    50.5     False
3   7  Boromir      Gondor  Warrior     18        5500   115.5     False

                last_active  mentor_id
0 2023-09-20 03:00:00+00:00          6
1 2023-09-23 01:00:00+00:00       <NA>
2 2023-09-23 10:00:00+00:00          1
3 2023-09-21 12:00:00+00:00       <NA>

In [ ]:
# Create the table and insert data
create_table = """
CREATE TABLE IF NOT EXISTS`webserver-150902.fantasy.characters_alive` AS
SELECT *
FROM `webserver-150902.fantasy.characters`
WHERE is_alive = True
"""

# Run the query to create the table
client.query(create_table).result()

# Query the newly created table
get_table = """
SELECT * FROM `webserver-150902.fantasy.characters_alive`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_table).to_dataframe()

# Display the result
print(result_df)

    id       name      guild    class  level  experience  health  is_alive  \
0   12     Elrond  Rivendell     Mage     27        8200   87.50      True
1    6    Gandalf     Istari     Mage     30       10000   90.00      True
2   13  Thranduil   Mirkwood   Archer     26        7900   97.00      True
3    2    Legolas   Mirkwood   Archer     22        7500  100.75      True
4   15    Faramir     Gondor   Archer     19        5700  118.50      True
5    5        Sam  Shirefolk   Hobbit     13        2750   52.50      True
6    8      Merry  Shirefolk   Hobbit     11        2200   48.50      True
7    9     Pippin  Shirefolk   Hobbit     11        2100   47.50      True
8   14      Eowyn      Rohan  Warrior     17        5200  112.50      True
9    1    Aragorn    Rangers  Warrior     25        9000  120.50      True
10   3      Gimli     Erebor  Warrior     20        6000  130.25      True

                 last_active  mentor_id
0  2023-09-21 04:00:00+00:00          6
1  2023-09-20 11:00:00+00:00       <NA>
2  2023-09-22 02:00:00+00:00          2
3  2023-09-21 09:00:00+00:00       <NA>
4  2023-09-20 06:00:00+00:00          7
5  2023-09-23 10:05:00+00:00          1
6  2023-09-22 10:00:00+00:00          4
7  2023-09-22 10:01:00+00:00          4
8  2023-09-23 05:00:00+00:00          7
9  2023-09-20 08:00:00+00:00       <NA>
10 2023-09-22 07:00:00+00:00       <NA>




1. **UNION ALL** - gets all the rows
2. **UNION DISTINCT** - gets all the distinct rows this avoids the duplicate rows
3. **INTERSECT DISTINCT** - gets only the shared rows between two
4. **EXCEPT DISTINCT** - The EXCEPT operator in SQL is used to return all rows from the first query that are not present in the second query. When you use EXCEPT DISTINCT, it specifically ensures that only distinct rows from the first query that do not appear in the second query are returned.

**UNION ALL**

In [14]:
get_tables = """
SELECT * FROM `webserver-150902.fantasy.characters_alive`
UNION ALL
SELECT * FROM `webserver-150902.fantasy.characters_dead`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_tables).to_dataframe()

# Display the result
print(result_df)

    id       name       guild    class  level  experience  health  is_alive  \
0   11    Saruman      Istari     Mage     28        8500   88.50     False
1   10     Sauron  Dark Lords     Mage     40       15000   85.00     False
2    4      Frodo   Shirefolk   Hobbit     12        2500   50.50     False
3    7    Boromir      Gondor  Warrior     18        5500  115.50     False
4   12     Elrond   Rivendell     Mage     27        8200   87.50      True
5    6    Gandalf      Istari     Mage     30       10000   90.00      True
6   13  Thranduil    Mirkwood   Archer     26        7900   97.00      True
7    2    Legolas    Mirkwood   Archer     22        7500  100.75      True
8   15    Faramir      Gondor   Archer     19        5700  118.50      True
9    5        Sam   Shirefolk   Hobbit     13        2750   52.50      True
10   8      Merry   Shirefolk   Hobbit     11        2200   48.50      True
11   9     Pippin   Shirefolk   Hobbit     11        2100   47.50      True
12  14      Eowyn       Rohan  Warrior     17        5200  112.50      True
13   1    Aragorn     Rangers  Warrior     25        9000  120.50      True
14   3      Gimli      Erebor  Warrior     20        6000  130.25      True

                 last_active  mentor_id
0  2023-09-20 03:00:00+00:00          6
1  2023-09-23 01:00:00+00:00       <NA>
2  2023-09-23 10:00:00+00:00          1
3  2023-09-21 12:00:00+00:00       <NA>
4  2023-09-21 04:00:00+00:00          6
5  2023-09-20 11:00:00+00:00       <NA>
6  2023-09-22 02:00:00+00:00          2
7  2023-09-21 09:00:00+00:00       <NA>
8  2023-09-20 06:00:00+00:00          7
9  2023-09-23 10:05:00+00:00          1
10 2023-09-22 10:00:00+00:00          4
11 2023-09-22 10:01:00+00:00          4
12 2023-09-23 05:00:00+00:00          7
13 2023-09-20 08:00:00+00:00       <NA>
14 2023-09-22 07:00:00+00:00       <NA>

Replicate all the 3 with below table

In [28]:
# Create the first table (Table A)
create_table_a = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.table_a` AS
SELECT 1 AS id, 'Alice' AS name
UNION ALL
SELECT 2, 'Bob'
UNION ALL
SELECT 3, 'Charlie'
UNION ALL
SELECT 4, 'David';
"""
client.query(create_table_a).result()

# Create the second table (Table B)
create_table_b = """
CREATE OR REPLACE TABLE `webserver-150902.fantasy.table_b` AS
SELECT 3 AS id, 'Charlie' AS name
UNION ALL
SELECT 4, 'David'
UNION ALL
SELECT 5, 'Eve'
UNION ALL
SELECT 6, 'Frank';
"""
client.query(create_table_b).result()

In [38]:
#Try to replace 3rd line under SELECT statement
#UNION ALL
#UNION DISTINCT
#INTERSECT DISTINCT
get_tables = """
SELECT * FROM `webserver-150902.fantasy.table_a`
UNION DISTINCT
SELECT * FROM `webserver-150902.fantasy.table_b`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_tables).to_dataframe()

# Display the result
print(result_df)

   id     name
0   4    David
1   5      Eve
2   3  Charlie
3   6    Frank
4   2      Bob
5   1    Alice

In [17]:
get_tables = """
SELECT * FROM `webserver-150902.fantasy.characters_alive`
INTERSECT DISTINCT
SELECT * FROM `webserver-150902.fantasy.characters_dead`
"""

# Execute the query and convert to a pandas DataFrame
result_df = client.query(get_tables).to_dataframe()

# Display the result
print(result_df)

Empty DataFrame
Columns: [id, name, guild, class, level, experience, health, is_alive, last_active, mentor_id]
Index: []

![image.png]()

Combine two tables which has different columns names

In [39]:
query = """
SELECT id, name, item_type, power, date_added
FROM webserver-150902.fantasy.items
UNION DISTINCT
SELECT id, name, class, level, last_active
FROM webserver-150902.fantasy.characters
"""
# Execute the query and convert to a pandas DataFrame
result_df = client.query(query).to_dataframe()

# Display the result
print(result_df)

    id                   name item_type  power                date_added
0    6                Gandalf      Mage     30 2023-09-20 11:00:00+00:00
1   10                 Sauron      Mage     40 2023-09-23 01:00:00+00:00
2   11                Saruman      Mage     28 2023-09-20 03:00:00+00:00
3   12                 Elrond      Mage     27 2023-09-21 04:00:00+00:00
4    2                Legolas    Archer     22 2023-09-21 09:00:00+00:00
5   13              Thranduil    Archer     26 2023-09-22 02:00:00+00:00
6   15                Faramir    Archer     19 2023-09-20 06:00:00+00:00
7    4                  Frodo    Hobbit     12 2023-09-23 10:00:00+00:00
8    5                    Sam    Hobbit     13 2023-09-23 10:05:00+00:00
9    8                  Merry    Hobbit     11 2023-09-22 10:00:00+00:00
10   9                 Pippin    Hobbit     11 2023-09-22 10:01:00+00:00
11   1                Aragorn   Warrior     25 2023-09-20 08:00:00+00:00
12   3                  Gimli   Warrior     20 2023-09-22 07:00:00+00:00
13   7                Boromir   Warrior     18 2023-09-21 12:00:00+00:00
14  14                  Eowyn   Warrior     17 2023-09-23 05:00:00+00:00
15   7        Chainmail Armor     Armor     70 2023-09-07 10:00:00+00:00
16  20  Cloak of Invisibility     Armor     78 2023-09-20 07:30:00+00:00
17   6          Leather Armor     Armor     40 2023-09-06 09:00:00+00:00
18   8     Dragon Scale Armor     Armor     90 2023-09-08 11:00:00+00:00
19   4         Healing Potion    Potion     50 2023-09-04 08:00:00+00:00
20   5            Mana Potion    Potion     60 2023-09-05 08:30:00+00:00
21  16         Stamina Elixir    Potion     30 2023-09-16 09:00:00+00:00
22  15     Resurrection Stone    Potion     99 2023-09-15 08:30:00+00:00
23   2              Elven Bow    Weapon     85 2023-09-02 10:00:00+00:00
24   3            Dwarven Axe    Weapon     90 2023-09-03 11:00:00+00:00
25  12           Elven Quiver    Weapon     82 2023-09-12 10:00:00+00:00
26  14        Earthquake Rune    Weapon     88 2023-09-14 08:00:00+00:00
27  19        Frostbite Blade    Weapon     91 2023-09-19 07:00:00+00:00
28   9        Fireball Scroll    Weapon     75 2023-09-09 07:00:00+00:00
29  10        Teleport Scroll    Weapon     80 2023-09-10 07:30:00+00:00
30  17          Lightning Rod    Weapon     76 2023-09-17 10:00:00+00:00
31  18           Steel Dagger    Weapon     65 2023-09-18 11:00:00+00:00
32   1              Excalibur    Weapon    100 2023-09-01 09:00:00+00:00
33  11          Mithril Sword    Weapon     95 2023-09-11 09:00:00+00:00
34  13        Phoenix Feather    Weapon    100 2023-09-13 11:00:00+00:00